<h2> About Me</h2>

<div>
   <p> I am Jonathan Tshimpaka! Student at San Jose State university. I love learning new skills and technologies
   and work on projects that involve more than one technologies. </p>
    <p>   I have done full stack development and little bit of IOS development. Nevertheless I'm flexible  and love to explore
      new technologies and learn.</p>

</div>

<h2> Skills</h2>
<div>
  <p> Front end: Javascript, Angular, HTML, CSS </p>
  <p> Backend end/Programming languages: Python(Flask, Django), Node.js(Express.js), Java, SQL </p>
  <p> Mobile: Swift</p>
  <p> Cloud: AWS(EC2, S3, RBS)</p>
  <p>  <a href="https://github.com/JoeKabongo"> My github</a> </p>

</div>

<h2> Contact Me </h2>
<div>
  <p>
    If you have any question, want to work together or hire me, feel free to email me
    at <a href="mailto:jonathankabongo23@gmail.com">jonathankabongo23@gmail.com.</a>
  </p>

  <p>
    Let connect on <a href="https://www.linkedin.com/in/jonathan-tshimpaka/"> LinkedIn</a>
  </p>

  <p>
    You can also directly call me at: +1 646-954-9444
  </p>

</div>


