<app-navbar></app-navbar>
<!-- <div id="finish-tracker"> -->

<!-- </div> -->

<div id="black-background">  </div>

<main>
  <router-outlet></router-outlet>
</main>

<div id="project-window">
  <div class="image">
      <img src="../../../assets/nba1.png" alt="nba talk project">
  </div>

  <div class="container">
    <div class="title">
      THE NBA TALK
    </div>

    <div class="description">
        The nba talk is a social media application targeted for nba fans. During this project I have implemented
        advances features that a typical social media app have, such as user being able to post something, react to
        another user post with liking, disliking, commenting.
        The app also have a blog where designated writer have written articles about the NBA.
    </div>

    <div class="technologies">
        <b> Technologies used: </b> Python/Django, Angular, HTML, CSS, PosgresSQL
    </div>

    <div class="links">
      <a routerLink=""> View Site </a>
      <a routerLink=""> Github </a>
      <a class="close-link" style="float: right;" (click)="closeProjectWindow()"> <i class="fas fa-times"></i>  </a>
    </div>
  </div>


</div>
<footer>
  &copy; Jonathan Tshimpaka 2020
</footer>
